.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-clock {
  width: 0.9716796875em;
}

.icon-computer {
  width: 1.2958984375em;
}

.icon-cosmonavt {
  width: 0.9013671875em;
}

.icon-envelope {
  width: 1.3330078125em;
}

.icon-smartphone {
  width: 0.625em;
}

.icon-sputnik {
  width: 0.9423828125em;
}

.icon-Union {
  width: 0.8720703125em;
}

.icon-Union2 {
  width: 1.142578125em;
}

.icon-Union3 {
  width: 1.0712890625em;
}

.icon-Union4 {
  width: 2.0234375em;
}

.icon-Union5 {
  width: 1.3408203125em;
}

.icon-Union6 {
  width: 2.0888671875em;
}
